.btn {
    font-size: .8rem;
    padding: .6rem;
    margin: .8rem;
    color: #fff;
    border-radius: .2rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.btnPrimary {
    background-color: #0069D9;
}

.btnSuccess {
    background-color: #218838;
}