:root{
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: hsl(210, 10%, 23%);
    --primary: #007bff;
    --primary-text : #0084d0;
    --secondary: #6c757d;
    --secondary-text : #383d41;
    --success: #28a745;
    --success-text : #155724;
    --info: #17a2b8;
    --warning: #ffc107;
    --warning-text : #a56404;
    --danger: #dc3545;
    --danger-text : #721c24;
    --light: #f8f9fa;
    --light-text: #818182;
    --dark: #343a40;
    --dark-text: #1b1e21;
}

.alert{
    padding: .5rem .8rem;
    border-radius: .3rem;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    width: 20rem;
}

.alert-primary{
    background-color: var(--primary);
}

/* .alert-secondary{
    background-color: var(--secondary);
} */

.alert-success{
    background-color: var(--success);
}

.alert-danger{
    background-color: var(--danger);
}

.alert-warning{
    background-color: var(--warning);
}

.alert-light{
    background-color: var(--light);
    color: var(--light-text);
}

.alert-dark{
    background-color: var(--dark);
    color: var(--dark-text);
}